<launch>

  <arg name="LOCAL_NAME" default="c3" />

  <!-- generate points on local pc -->
  <arg name="camera" value="kinect_head_$(arg LOCAL_NAME)" />
  <arg name="manager" value="$(arg camera)/$(arg camera)_nodelet_manager" />
  <node name="relay_kinect_head_rgb_camera_info"
        pkg="nodelet" type="nodelet"
        args="load jsk_topic_tools/Relay $(arg manager)">
    <remap from="~input" to="/kinect_head/rgb/camera_info" />
    <remap from="~output" to="/$(arg camera)/rgb/camera_info" />
  </node>
  <node name="relay_kinect_head_rgb_image_raw_compressed"
        pkg="nodelet" type="nodelet"
        args="load jsk_topic_tools/Relay $(arg manager)">
    <remap from="~input" to="/kinect_head/rgb/image_raw/compressed" />
    <remap from="~output" to="/$(arg camera)/rgb/image_raw/compressed" />
  </node>
  <group ns="$(arg camera)/rgb">
    <node name="$(anon republish_image_color)"
          pkg="image_transport" type="republish"
          args="compressed raw">
      <remap from="in" to="image_raw" />
      <remap from="out" to="image_raw" />
    </node>
  </group>
  <node name="relay_kinect_head_depth_camera_info"
        pkg="nodelet" type="nodelet"
        args="load jsk_topic_tools/Relay $(arg manager)">
    <remap from="~input" to="/kinect_head/depth_registered/camera_info" />
    <remap from="~output" to="/$(arg camera)/depth_registered/camera_info" />
  </node>
  <node name="relay_kinect_head_depth_image_raw"
        pkg="nodelet" type="nodelet"
        args="load jsk_topic_tools/Relay $(arg manager)">
    <remap from="~input" to="/kinect_head/depth_registered/image_raw" />
    <remap from="~output" to="/$(arg camera)/depth_registered/image_raw" />
  </node>
  <include file="$(find openni_launch)/launch/openni.launch">
    <arg name="publish_tf" value="false" />
    <arg name="camera" value="$(arg camera)" />
    <arg name="depth_registration" value="true" />
    <arg name="load_driver" value="false" />
    <arg name="queue_size" value="100" />
  </include>

</launch>
